#body {
    background-color: paleturquoise;

}

#wrapper {
    background-color: bisque;

}

#submit {
    padding: auto;
}

#highScoresBody {
    background-color: palegreen;
}

.highScoreTitle {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 100px;

}